<!DOCTYPE html>
<html>
<head>
	<title>OCOVOIT</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/reset.css">
	<!-- <link rel="stylesheet" href="/style.css"> -->
</head>
<body>
	<header>
		<nav>
			<ul>
				<% if(role_admin === 'ADMIN'){ %>
				<li><a href="/users">Utilisateurs</a></li>
				<% } %>
				<% if(!auth_token){ %>
					<li><a href="/login">Connexion</a></li>
					<li><a href="/register">Inscription</a></li>
				<% } %>
				<% if(auth_token){ %>
					<li><a href="/logout">Deconnection</a></li>
				<% } %>
			</ul>
		</nav>
	</header>